@model List<Etrosbasket.Models.Player>

<h3>Players List</h3>
<!-- Button to open the Create Player modal -->
<button type="button" class="btn btn-success" id="createPlayerButton">Add New Player</button>

<div id="playersTableContainer">                             
    @await Html.PartialAsync("_PlayersTable", Model)
</div>
<!-- Player Details Modal Structure -->
<div class="modal fade" id="playerDetailsModal" tabindex="-1" aria-labelledby="playerDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="playerDetailsLabel">Player Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="detailsModalContent" style="max-height: 75vh; overflow-y: auto;">
                <!-- The statistics table will load here dynamically -->
            </div>
        </div>
    </div>
</div>

<!-- Create Player Modal Structure -->
<div class="modal fade" id="createPlayerModal" tabindex="-1" aria-labelledby="createPlayerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPlayerLabel">Create New Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="createModalContent">
                <!-- Form for creating a player will be loaded here dynamically -->
            </div>
        </div>
    </div>
</div>

<!-- Upload File Modal Structure in _Players -->
<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadFileLabel">Upload Player Statistics PDF</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="uploadModalContent" style="max-height: 75vh; overflow-y: auto;">
                <!-- Content for file upload will load here dynamically from a partial view -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPlayerModal" tabindex="-1" aria-labelledby="editPlayerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPlayerLabel">Edit Playerr</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="editModalContent">
                <!-- Form for creating a player will be loaded here dynamically -->
            </div>
        </div>
    </div>
</div>
@* <script src="~/admin/js/adminPanel.js" asp-append-version="true"></script> *@








