<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Etrosbasket</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Etrosbasket.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        <div class="container">
            <div class="left-section">
                <img src="images/etros-150x150.png" alt="Team Logo" class="team-logo">
                <h1>Етрос</h1>
            </div>
            <nav>
                <ul>
                    <li><a <a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                    <li><a href="team.html">Отбор</a></li>
                    <li><a href="schedule.html">График</a></li>
                    <li><a href="contact.html">Контакти</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div >
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2024 Етрос | Designed by Dimitar Rachev</p>
        </div>
    </footer>
 @*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Etrosbasket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
