@model List<Article>

<table class="table table-striped">
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
