@model ArticleListViewModel

<h3>Articles List</h3>
<!-- Button to open the Create Player modal -->
<button type="button" class="btn btn-success" id="createArticleButton">Add New Article</button>

<div id="articlesTableContainer">
    @await Html.PartialAsync("_ArticlesTable", Model)
</div>